<div class="blog-post-container">

    <div class="blog-post" data-id="{{id}}">
        <div class="blog-post-header">
            <h3>{{title}}</h3>
            <div>
                <p>posted by {{user.name}} on {{format_date date_created}}</p>
            </div>
        </div>
        <div class="blog-post-content">
            <p>{{content}}</p>
        </div>
    </div>


    <div class="comment-section-container">
        <form class="add-comment-form" id="add-comment-form">
            <label>Your Message</label>
            <input type="text" id="comment-content">
            <button type='submit'>send</button>
        </form>
        <div class="comment-container">
            <ul>
                {{#each comments as |comment|}}
                <li class="comment">
                    <span class="comment-name">{{user.name}}</span>
                    <span class="comment-content">{{content}}</span>
                    <span class="comment-date">{{format_date date_created}}</span>
                </li>
                {{/each }}
            </div>
            </ul>
        </div>
    </div>
</div>
<script src="/js/blogpost.js"></script>


