<div class="dashboard-container">
    <div class="dashboard-post-container">
        {{#each blogposts as |blogpost|}}
        <div class="dashboard-post">
            <h3>{{blogpost.title}}</h3>
              <div>
                    <a href='/blogpost/{{blogpost.id}}'>view</a>
                    <a href='/blogpost/edit/{{blogpost.id}}'>edit</a>
                    <p>posted by {{user.name}}on {{format_date blogpost.date_created}}</p>
              </div>
        </div>
        {{/each}}
    </div>
    <div class="dashboard-btn-container">
        <button class="dashboard-new-post-btn">+ New Post</button>
    </div>
</div>
<script src="/js/dashboard.js"></script>