<div class="homepage-container">
    {{#each blogs as |blog|}}
    <div class="blog-post">
        <div class="blog-post-header">
            <h3>{{blog.title}}</h3>
            <div>
                <a href="/blogpost/{{blog.id}}">view</a>
                <p>posted by {{user.name}} on {{format_date blog.date_created}}</p>
            </div>
        </div>
        <div class="blog-post-content">
            <p>{{blog.content}}</p>
        </div>
    </div>
    {{/each}}
</div>





